.row {
  color: white;
  margin-left: 20px;
  white-space: pre-wrap;
}

.row__posters {
  display: flex;
  overflow-y: hidden; /*adss scroll but hides it for y-axis*/
  overflow-x: scroll; /*adds scroll for x-axis*/
  padding: 20px; /*removes cropping*/
}

.row__posters::-webkit-scrollbar {
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px; /*adds space between posters */
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.tooltip {
  display: block;
  font-size: larger;
  background: #FFFFFF;
}
